/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /*border: 1px red solid*/
}

li{
  display: inline-block;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
}

button {
  background: lightgrey;
  border-radius: 20px gray;
  padding: 10px;
  font-size: large;
}

form fieldset{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  font-family: 'Arial', sans-serif;
  font-size: 100%;
  vertical-align: baseline;
  color: inherit;
  display: block;
}

/* Estilos */


/* HEADER */

header {
  max-width: 1920px;
  width: 100%;
  height: 25vh;
  display: flex;
}

#header #navBar ul li a{
  font-style: none;
  font-size: larger;
  text-decoration: none;
  color: #eaeaea;
}

#navBar{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.a :hover{
  cursor: pointer;
}

li {
  width: 15em;
  font-weight: bold;
  color: black;
}


/* MAIN */

body {
  max-width: 1920px;
  width: 100%;
  background-image: linear-gradient(#D9695F, #F22613);
  background-size: auto;
  background-repeat: no-repeat;
}

li {
  text-decoration: none;
}

main{
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

h1{
  font-weight: bold;
  font-size: xx-large;
  color: #eaeaea;
}

h2{
  font-weight: bold;
  font-size: xx-large;
  color: #eaeaea;
}

.h3{
  font-weight: bold;
  font-size:x-large;
  color: #eaeaea;
}

p{
  font-weight: normal;
  font-size: x-large;
  color: #eaeaea;
}

.main__silueta{
  width: 480px;
  height: 700px;
  border-radius: 20px;
}

.main__map{
  width: 480px;
  height: 700px;
  border-radius: 20px;
}


/*FLEX LA CASA*/

.flex__lacasa{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  gap: 20px;
}

.lacasa__txt{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: left;

}

.lacasa__cont{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}


/* FLEX ACTIVIDADES */

.flex{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  gap: 20px;
}

.card{
  min-width: 480px; 
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}

.flex__card1{
  max-width: 480px;
  height: 700px;
  background-image: url(images/talleres_byn.png);
  background-size: cover;
}

.flex__card2{
  max-width: 480px;
  height: 700px;
  background-image: url(images/workshop_byn.png);
  background-size: cover;
  }

.flex__card3{
  max-width: 480px;
  max-height: 700px;
  background-image: url(images/movimiento_byn.png);
  background-size: cover;
  }

.titulo__actividad{
  font-weight: bolder;
  font-size: xx-large;
  color: #eaeaea;
}

.descripcion__actividad{
  font-weight: normal;
  font-size: x-large;
  color: #eaeaea;
}


/*GRID FORM*/

.form{
  width: 900px;
  height: 400px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form__datos{
  display: flex;
  flex-direction: column;
}

.form__txtarea{
  display: flex;
  flex-direction: auto;
}

.form__btn{
  display: block;
  background: lightgrey;
  border-radius: 20px gray;
  padding: 10px;
  font-size: large;
}


/* FOOTER */

footer {
  max-width: 1920px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.socialLinks i{
  width: 20px;
  display: block;
  margin: 10px;
  display: inline-block;
  color: #eaeaea;
}

.copyright {
  margin: 5px;
  font-size: 10px;
  font-family: 'Arial', sans-serif;
  text-align: center;
  line-height: 1.5;
  color: #eaeaea;

}

.policy{
  font-size: 10px;
  font-family: 'Arial', sans-serif;
  text-align: center;
  line-height: 1.5;
  margin: 5px;
}

#footer a {
  text-decoration: none;
  font-style: none;
  color: #eaeaea;
}


